@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    /* 黒の50%半透明 */
    background: rgba(255, 255, 255, 0.5);
    /* 背景をぼかす（重要！） */
    backdrop-filter: blur(10px);
    /* Safari対策 */
    -webkit-backdrop-filter: blur(10px);
    /* 角を丸くして柔らかい印象に */
    border-radius: 20px;
    /* 薄い枠線で立体感を出す */
    border: 1px solid rgba(255, 255, 255, 0.1);
}

h1 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

h2 {
    width: 50%;
    /* 幅を短くするための変更 (必要に応じて数値を調整してください) */
    margin-left: auto;
    /* 中央に配置するために追加 */
    margin-right: auto;
    /* 中央に配置するために追加 */
    display: flex;
    justify-content: center;
    border-bottom: 4px double lightgreen;
    /* 線の太さ細くしたい場合は 4px を 3px などにします */
    padding-bottom: 5px;
    margin-top: 50px;
}

.greeting-text {
    width: 100%;
    display: flex;
    justify-content: center;
}


.table {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}

#skill table {
    display: flex;
    justify-content: center;
    text-align: center;
}

#skill table td {
    text-align: left;
}

#top-menu {
    width: 100%;
    background-color: rgb(209, 255, 209);
    display: flex;
    justify-content: center;
}

#top-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-left: 3px solid #ccc;
}

#top-menu ul li {
    border-right: 3px solid #ccc;
}

#top-menu ul li a {
    display: block;
    padding: 6px 20px;
}

#top-menu a:hover {
    /*マウスカーソルを乗せたとき*/
    color: green;
    transform: translateY(-5px);
}

#hobby {
    font-size: 18px;
}

#hobby table{
    display: flex;
    justify-content: center;
    /* スキルセクションと同じ間隔 */
    padding-top: 10px;
}

#hobby th,td {
    padding: 10px;
}

#link ul {
    list-style: none;
    text-align: center;
    margin-right: 45px;
}

footer {
    display: flex;
    justify-content: center;
}